// variables
$width1: 600px;
$width2: 700px;

// margins pictures

@media screen and (min-width: 1100px)
{
    .menu_zoom_hover{
        margin-left: 50px;
        margin-right: 50px;
    }
}

// padding card 

@media screen and (max-width: $width1)
{
    .menu_card{
        padding: 25px 50px 25px 50px;
    }
}

@media screen and (min-width: $width1)
{
    .menu_card{
        padding: 50px 100px 50px 100px;
    }
}

// margin card

@media screen and (max-width: $width2)
{
    .menu_card{
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media screen and (min-width: $width2)
{
    .menu_card{
        margin: 0 auto;
    }
}

@media screen and (max-width: $width2)
{
    li{
        margin-top: 25px;
    }

}
//  seize font 

@media screen and (max-width: $width1)
{
    footer{
        h4,h5,h6{
            font-size: 15px;
        }
    }

    .menus{

        h2{
            font-size: 25px;
        }

        h3{
            font-size: 30px;
        }

        h4{
            font-size: 20px;
        }

        h5{
            font-size: 20px;
        }

    }
}

@media screen and (min-width: $width1)
{
    footer{
        h4,h5,h6{
            font-size: 20px;
        }
    }

    .menus{
        h2{
            font-size: 32px;
        }

        h3{
            font-size: 40px;
        }

        h4{
            font-size: 25px;
        }

        h5{
            font-size: 25px;
        }
    }
}

// line around title

@media screen and (min-width: $width1)
{
    .line {
        display: flex; 
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .line:before,
    .line:after {
        content: '';
        border-top: 3px solid;
        margin: 0 20px 0 0;
        flex: 1 0 20px;
    }

    .line:after {
        margin: 0 0 0 20px;
    }
}