@charset "UTF-8";
.menus {
  margin-top: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menus h1 {
  color: #353535;
  text-align: center;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.menus h2 {
  text-align: center;
}

.menus ul {
  padding: 0px;
  font-size: 15px;
}

.menu_card {
  -webkit-box-shadow: 1px 1px 12px #bebebe;
          box-shadow: 1px 1px 12px #bebebe;
  max-width: 800px;
  min-height: 740px;
}

.center_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.price {
  font-weight: bold;
  float: right;
  margin-left: 20px;
}

#la_note_enchantee {
  font-family: 'Kalam', cursive;
  color: #3D1319;
  background-color: #FCDFDB;
}

#la_note_enchantee h4 {
  font-size: 25px;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

#la_note_enchantee h4:before {
  display: block;
  position: absolute;
  content: "";
  height: 2px;
  width: 0;
  background: #3D1319;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  left: 0;
  bottom: 0;
}

#la_note_enchantee h4:hover:before {
  width: 100%;
}

#la_note_enchantee h3 {
  text-align: center;
}

#la_note_enchantee .line {
  background-color: black;
  margin-bottom: 53px;
}

.fa-music {
  margin: 10px;
  background: -webkit-linear-gradient(left, #F04C5F, #F6916A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#le_chic_a_la_française {
  font-family: 'Croissant One', cursive;
  background-color: #FFF5FE;
}

#le_chic_a_la_française h2 {
  background: -webkit-linear-gradient(right, #6E4CCC, #E38913);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#le_chic_a_la_française h3 {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
  position: relative;
}

#le_chic_a_la_française h3:before {
  display: block;
  position: absolute;
  content: "";
  height: 2px;
  width: 0;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  left: 0;
  bottom: 0;
}

#le_chic_a_la_française h3:hover:before {
  width: 100%;
}

#le_chic_a_la_française .line {
  margin-bottom: 40px;
}

#le_chic_a_la_française #step_1 {
  color: #C67412;
}

#le_chic_a_la_française #step_1 h3:before {
  background: #C67412;
}

#le_chic_a_la_française #step_1 .line {
  background-color: #C67412;
}

#le_chic_a_la_française #step_2 {
  color: #A56799;
}

#le_chic_a_la_française #step_2 h3:before {
  background: #A56799;
}

#le_chic_a_la_française #step_2 .line {
  background-color: #A56799;
}

#le_chic_a_la_française #step_3 {
  color: #6E4CCC;
}

#le_chic_a_la_française #step_3 h3:before {
  background: #6E4CCC;
}

#le_chic_a_la_française #step_3 .line {
  background-color: #6E4CCC;
}

#le_délice_des_papilles {
  font-family: 'Dancing Script', cursive;
  background-color: #EDEFEF;
}

#le_délice_des_papilles h2 {
  font-size: 50px;
  background: -webkit-linear-gradient(left, #0228DD, #229DF9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#le_délice_des_papilles h3 {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 25px;
  position: relative;
}

#le_délice_des_papilles h3:before {
  display: block;
  position: absolute;
  content: "";
  height: 2px;
  width: 0;
  background: #000;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  left: 0;
  bottom: 0;
}

#le_délice_des_papilles h3:hover:before {
  width: 100%;
}

#le_délice_des_papilles ul {
  font-size: 20px;
}

#le_délice_des_papilles .line {
  margin-bottom: 35px;
}

#le_délice_des_papilles #step_1 .line {
  background-color: #0228DD;
}

#le_délice_des_papilles #step_2 .line {
  background-color: #0670F3;
}

#le_délice_des_papilles #step_3 .line {
  background-color: #229DF9;
}

#la_palette_du_gout {
  font-family: 'Kaushan Script', cursive;
  background-color: #FDFFFD;
}

#la_palette_du_gout h2 {
  background: -webkit-linear-gradient(left, #3D923A, #BEFF7F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#la_palette_du_gout h3 {
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
}

#la_palette_du_gout h3:before {
  display: block;
  position: absolute;
  content: "";
  height: 2px;
  width: 0;
  background: #000;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  left: 0;
  bottom: 0;
}

#la_palette_du_gout h3:hover:before {
  width: 100%;
}

#la_palette_du_gout .right {
  background: -webkit-linear-gradient(right, #3D923A, #BEFF7F);
}

#la_palette_du_gout .left {
  background: -webkit-linear-gradient(left, #3D923A, #BEFF7F);
}

#la_palette_du_gout .line {
  margin-bottom: 30px;
}
/*# sourceMappingURL=menu_cards.css.map */