// all pages

.menus{ 
    margin-top: 68px;
    display: flex;
    align-content: center;
    flex-direction: column;
    h2{
        color: #353535;
        text-align: center;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
    }
    h3{
        text-align: center;
    }
}

ul{
    padding: 0px;
    font-size: 15px;
    list-style: none;
    line-height: 2em;
}

.menu_card{
    box-shadow: 1px 1px 12px #bebebe;
    max-width: 900px;
    min-height: 740px;
}

.center_title{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.price{
    font-weight: bold;
    float:right;
    margin-left: 20px;
}

.underline{
    position: relative;
    &:before {
        display: block;
        position: absolute;
        content: "";
        height: 2px;
        width: 0;
        background: #000;
        transition: width 0.3s ease-in-out;
        left: 0;
        bottom: 0;
    }
    
    &:hover:before {
        width: 100%;
    }
}


// page : La note enchantée

#la_note_enchantee{
    font-family: 'Kalam', cursive;
    color: #3D1319;
    background-color: #FCDFDB;
    h5{
        position: relative;
        margin-left: 10px;
        margin-right: 10px;
    }
    h5{
        text-align: center;
    }
}

.fa-music{
    margin: 10px;
    background: -webkit-linear-gradient(left, #F04C5F, #F6916A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

// page : Le chic à la française

#le_chic_a_la_française{
    font-family: 'Croissant One', cursive;
    background-color: #FFF5FE;
    $step_1: #C67412;
    $step_2: #A56799;
    $step_3: #6E4CCC;
    h3{
    background: -webkit-linear-gradient(right, $step_3, $step_1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
    h4{
        margin-left: 10px;
        margin-right: 10px;
        font-weight: bold;
        text-align: center;
        position: relative;
    }
    #step_1{
        color: $step_1;
        .underline{
            &:before {
                background: $step_1;
            }
        }
    }

    #step_2{
        color: $step_2;
        .underline{
            &:before {
                background: $step_2;
            }
        }
    }

    #step_3{
        color: $step_3;
        .underline{
            &:before {
                background: $step_3;
            }
        }
    }
}

// page : Le délice des papailles

#le_délice_des_papilles{
    font-family: 'Dancing Script', cursive;
    background-color: #EDEFEF;
    $blue1:#0228DD;
    $blue2:#0670F3;
    $blue3:#229DF9;

    h3{
        background: -webkit-linear-gradient(left, $blue1, $blue3);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    h4{
        margin-left: 10px;
        margin-right: 10px;
        position: relative;
    }
    ul{
        font-size: 20px;
    }
    #step_1{
        .line{
            &:before {
                color: $blue1;
            }
            &:after {
                color: $blue1;
            }
        }
    }
    #step_2{
        .line{
            &:before {
                color: $blue2;
            }
            &:after {
                color: $blue2;
            }
        }
    }
    #step_3{
        .line{
            &:before {
                color: $blue3;
            }
            &:after {
                color: $blue3;
            }
        }
    }
}

// page : La palette du goût

#la_palette_du_gout{
    font-family: 'Kaushan Script', cursive;
    background-color: #FDFFFD;
    h3{
        background: -webkit-linear-gradient(left, #3D923A, #BEFF7F);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    h4{
        margin-left: 10px;
        margin-right: 10px;
        position: relative;
    }
    .line{
        &:before {
            color:#3D923A;
        }
        &:after {
            color:#3D923A;
        }
    }
}