// import scss

@import "medias_queries";
@import "menu_cards";

// change colors 

$bg-color: #579C87;
$font-color: #FCCA46;

// top

.logo{
    width: 100%;
    max-width: 400px;
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

nav{
    padding: 25px;
    background-color: $bg-color;
    h1{
        display: none;
    }
}

// body

body{
    margin: 0px;
    margin-bottom: 130px;
}

#main_section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0vw 5vw 0vw 5vw;
    h2{
        display: none;
    }
}

.typewriter {
    display: inline-flex;
    overflow: hidden;
    animation: typing 1s steps(300, end);
    animation-iteration-count: infinite;
    max-height: 28px;
}

@keyframes typing {
    from { 
        width: 0%
    }
    to { 
        width: 12% 
    }
}

// Zoom on img menus
    
.menu_zoom_hover {
    box-shadow: 1px 1px 12px #bebebe;
    margin: 50px;
    max-width: 500px;
    height: auto;
.menu_zoom {
    overflow: hidden;
    position: relative;
    * {
        box-sizing: border-box;
    }
    img {
        width: 100%;
        max-width: 500px;
        margin-top: -5px;
        margin-bottom: -5px;
        height: auto;
        transition: all 0.8s;
    }
}
&:hover {
    .menu_zoom {
        img {
            transform: scale(1.1);
            opacity: 50%;
        }
    }
}
}

.soon{
    max-width: 300px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: $bg-color;
    color: $font-color;
    border-radius: 10px;
    
    h3{
        font-size: 22px;
        max-width: 200px;
        height: auto;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Maven Pro', sans-serif;
    }
}

#legal_section{
    padding: 50px 0px 50px 50px;
    font-family: 'Maven Pro', sans-serif;
    line-height: 150%;
}

// footer

footer{
    display: flex;
    min-width: 100%;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    background-color: $bg-color;
}

a{
    text-decoration: none;
}

footer{

    h4{
        text-decoration: none;
        font-family: 'Maven Pro', sans-serif;
        margin: 20px;
        color: $font-color;
        &:hover {
            animation: shake 0.5s;
        
            animation-iteration-count: infinite;
        }
        
        @keyframes shake {
            0% { transform: translate(1px, 1px) rotate(0deg); }
            10% { transform: translate(-1px, -2px) rotate(-1deg); }
            20% { transform: translate(-3px, 0px) rotate(1deg); }
            30% { transform: translate(3px, 2px) rotate(0deg); }
            40% { transform: translate(1px, -1px) rotate(1deg); }
            50% { transform: translate(-1px, 2px) rotate(-1deg); }
            60% { transform: translate(-3px, 1px) rotate(0deg); }
            70% { transform: translate(3px, 1px) rotate(-1deg); }
            80% { transform: translate(-1px, -1px) rotate(1deg); }
            90% { transform: translate(1px, 2px) rotate(0deg); }
            100% { transform: translate(1px, -2px) rotate(-1deg); }
            }
    }
}


