@charset "UTF-8";
@media screen and (min-width: 1100px) {
  .menu_zoom_hover {
    margin-left: 50px;
    margin-right: 50px;
  }
}
@media screen and (max-width: 600px) {
  .menu_card {
    padding: 25px 50px 25px 50px;
  }
}
@media screen and (min-width: 600px) {
  .menu_card {
    padding: 50px 100px 50px 100px;
  }
}
@media screen and (max-width: 700px) {
  .menu_card {
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media screen and (min-width: 700px) {
  .menu_card {
    margin: 0 auto;
  }
}
@media screen and (max-width: 700px) {
  li {
    margin-top: 25px;
  }
}
@media screen and (max-width: 600px) {
  footer h4 {
    font-size: 15px;
  }

  .menus h1 {
    font-size: 25px;
  }
  .menus h2 {
    font-size: 30px;
  }
  .menus h3 {
    font-size: 20px;
  }
  .menus h4 {
    font-size: 20px;
  }
}
@media screen and (min-width: 600px) {
  footer h4 {
    font-size: 20px;
  }

  .menus h2 {
    font-size: 40px;
  }
  .menus h3 {
    font-size: 25px;
  }
  .menus h4 {
    font-size: 25px;
  }
}
@media screen and (min-width: 600px) {
  .line {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .line:before,
.line:after {
    content: "";
    border-top: 3px solid;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
  }

  .line:after {
    margin: 0 0 0 20px;
  }
}
.menus {
  margin-top: 68px;
  display: flex;
  align-content: center;
  flex-direction: column;
}
.menus h1 {
  color: #353535;
  text-align: center;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
.menus h2 {
  text-align: center;
}

ul {
  padding: 0px;
  font-size: 15px;
  list-style: none;
  line-height: 2em;
}

.menu_card {
  box-shadow: 1px 1px 12px #bebebe;
  max-width: 900px;
  min-height: 740px;
}

.center_title {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.price {
  font-weight: bold;
  float: right;
  margin-left: 20px;
}

.underline {
  position: relative;
}
.underline:before {
  display: block;
  position: absolute;
  content: "";
  height: 2px;
  width: 0;
  background: #000;
  transition: width 0.3s ease-in-out;
  left: 0;
  bottom: 0;
}
.underline:hover:before {
  width: 100%;
}

#la_note_enchantee {
  font-family: "Kalam", cursive;
  color: #3D1319;
  background-color: #FCDFDB;
}
#la_note_enchantee h4 {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}
#la_note_enchantee h3 {
  text-align: center;
}

.fa-music {
  margin: 10px;
  background: -webkit-linear-gradient(left, #F04C5F, #F6916A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#le_chic_a_la_française {
  font-family: "Croissant One", cursive;
  background-color: #FFF5FE;
}
#le_chic_a_la_française h2 {
  background: -webkit-linear-gradient(right, #6E4CCC, #C67412);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#le_chic_a_la_française h3 {
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
  text-align: center;
  position: relative;
}
#le_chic_a_la_française #step_1 {
  color: #C67412;
}
#le_chic_a_la_française #step_1 .underline:before {
  background: #C67412;
}
#le_chic_a_la_française #step_2 {
  color: #A56799;
}
#le_chic_a_la_française #step_2 .underline:before {
  background: #A56799;
}
#le_chic_a_la_française #step_3 {
  color: #6E4CCC;
}
#le_chic_a_la_française #step_3 .underline:before {
  background: #6E4CCC;
}

#le_délice_des_papilles {
  font-family: "Dancing Script", cursive;
  background-color: #EDEFEF;
}
#le_délice_des_papilles h2 {
  background: -webkit-linear-gradient(left, #0228DD, #229DF9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#le_délice_des_papilles h3 {
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
}
#le_délice_des_papilles ul {
  font-size: 20px;
}
#le_délice_des_papilles #step_1 .line:before {
  color: #0228DD;
}
#le_délice_des_papilles #step_1 .line:after {
  color: #0228DD;
}
#le_délice_des_papilles #step_2 .line:before {
  color: #0670F3;
}
#le_délice_des_papilles #step_2 .line:after {
  color: #0670F3;
}
#le_délice_des_papilles #step_3 .line:before {
  color: #229DF9;
}
#le_délice_des_papilles #step_3 .line:after {
  color: #229DF9;
}

#la_palette_du_gout {
  font-family: "Kaushan Script", cursive;
  background-color: #FDFFFD;
}
#la_palette_du_gout h2 {
  background: -webkit-linear-gradient(left, #3D923A, #BEFF7F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#la_palette_du_gout h3 {
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
}
#la_palette_du_gout .line:before {
  color: #3D923A;
}
#la_palette_du_gout .line:after {
  color: #3D923A;
}

.logo {
  width: 100%;
  max-width: 400px;
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

nav {
  padding: 25px;
  background-color: #579C87;
}
nav h1 {
  display: none;
}

body {
  margin: 0px;
  margin-bottom: 130px;
}

#main_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0vw 5vw 0vw 5vw;
}
#main_section h2 {
  display: none;
}

.typewriter {
  display: inline-flex;
  overflow: hidden;
  animation: typing 1s steps(300, end);
  animation-iteration-count: infinite;
  max-height: 28px;
}

@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 12%;
  }
}
.menu_zoom_hover {
  box-shadow: 1px 1px 12px #bebebe;
  margin: 50px;
  max-width: 500px;
  height: auto;
}
.menu_zoom_hover .menu_zoom {
  overflow: hidden;
  position: relative;
}
.menu_zoom_hover .menu_zoom * {
  box-sizing: border-box;
}
.menu_zoom_hover .menu_zoom img {
  width: 100%;
  max-width: 500px;
  margin-top: -5px;
  margin-bottom: -5px;
  height: auto;
  transition: all 0.8s;
}
.menu_zoom_hover:hover .menu_zoom img {
  transform: scale(1.1);
}

.soon {
  max-width: 300px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: #579C87;
  color: #FCCA46;
  border-radius: 10px;
}
.soon h3 {
  font-size: 22px;
  max-width: 200px;
  height: auto;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Maven Pro", sans-serif;
}

#legal_section {
  padding: 50px 0px 50px 50px;
  font-family: "Maven Pro", sans-serif;
  line-height: 150%;
}

footer {
  display: flex;
  min-width: 100%;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  background-color: #579C87;
}

a {
  text-decoration: none;
}

footer h4 {
  text-decoration: none;
  font-family: "Maven Pro", sans-serif;
  margin: 20px;
  color: #FCCA46;
}
footer h4:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/*# sourceMappingURL=style.css.map */
